{% extends 'core/base.html' %}

{% block content %}
{% load static %}
<div class="container mt-5">
    <h1 class="text-warning mb-5 border-bottom">SERVICES</h1>

</div>
<div class="container">
    <div class="row-10">
        <div class="col-sm-8">
            <i class="fas fa-search fa-2x mb-3"></i>
            <h3>WEB DEVLOPMENT</h3>
            <p>Django Frame work To create a web sites</p>

        </div>
    </div>
    <hr>
    <div class="row text">
        <div class="col-sm-8">
            <i class="fas fa-find fa-2x mb-3 i.color"></i>
            <h3>FIND</h3>
            <p>EVERYTHING IS SEARCH IN GOOGLE  it helps TO YOU</p>

        </div>
    </div>

    <div class="row-10">
        <div class="col-sm-8">
            <i class="fab fa-python fa-2x mb-3 i.colo"></i>
            <h3>PYTHO/DJANGO</h3>
            <p>PYTHON PROGRAMING LANGUAGE</p>

        </div>
    </div>

    <div class="row text">
        <div class="col-sm-8">
            <i class="fab fa-html5 fa-2x mb-2 i.colo"></i>
            <h3>HTML</h3>
            <p>I Know the HTML Language it is usefull website DOCUMENT </p>

        </div>
    </div>

    <div class="row-10">
        <div class="col-sm-8">
            <i class="fab fa-css3-alt fa-2x mb-2 i.colo"></i>
            <h3>CSS</h3>
            <p>Django Frame work To create a web sites</p>

        </div>
    </div>

    <div class="row text">
        <div class="col-sm-8">
            <i class="fab fa-google fa-2x mb-2 i.colo"></i>
            <h3></h3>
            <p>EVERYTHING IS USE FOR TECHNOLOGY</p>

        </div>
    </div>
    <div class="row text">
        <div class="col-sm-8">
            <i class="fas fa-headset fa-2x mv-3"></i>
            <h3>SUPPORT</h3>
            <p>Supported By FAMILY</p>

        </div>
      

    </div>
    <hr>
    <h2 style="color: rgb(20, 5, 104);background-color: white;font-size: 25px;text-align: center;font-family:serif">Every Day In Every Way Life Is Getting Better And Better</h2>

   <div >
       <img src="{% static 'core/images/skills3.jpg' %}" alt="no images" class="img-thumbnail"   id="skills">
   </div>
</div>

{% endblock %}